header,footer{
    background-color: blue;
    height: 100px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;

}

.container{
    display: flex;
    margin: 5px;

    
}

nav,aside{
    background-color: coral;
    height: 900px;
    width: 100%;
    margin: 5px;
    border-radius: 10px;


}

article{
    background-color: rgb(100, 141, 216);
    width: 300%;
    height: 900px;
    margin: 5px;
    border-radius: 10px;
    


}

nav{

    order: -1;

}



